---
owm:
    api_key: "API_KEY"
prometheus_exporter:
  host: 127.0.0.1
  port: 9755
  open_meteo_additional_data: true
  locations:
    - name: "Utrecht"
      cc: "NL"
    - name: "Formerum, Terschelling"
      cc: "NL"
      lat: 53.3963726
      lon: 5.2717206